@import url(keyframe.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    background-color: #0f0f0f;
    margin: 0 auto;
}

/* header */

header {
    width: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1.5fr 3fr 2fr;
    grid-template-rows: .5fr 1fr .5fr;
    justify-items: center;
    color: white;
}

header .logo-header {
    grid-row: 2;
    font-size: 1.5em;
    display: flex;
    transition: 1s;
    cursor: pointer;
}

.logo-header h1 {
    z-index: 10000;
    position: relative;
    font-size: 3rem;
}

.logo-header p {
    position: absolute;
    transition: 1s;
    visibility: hidden;
    width: 0;
    position: relative;
    color: transparent;
    top: 25%;
}

.logo-header:hover {
    p {
        animation-name: extense;
        width: 3em;
        visibility: visible;
        color: white;
    }
}

#nav-toggle {
    display: none;
}

#nav-phone {
    display: none;
}

#nav-desktop {
    grid-row: 2;
    grid-column: 3;
    display: grid;
    width: 80%;

    .ul-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.3em;
    }
}

.ul-header li {
    position: relative;
    cursor: pointer;
}

.ul-header li::after {
    position: absolute;
    content: "";
    height: 10%;
    width: 0%;
    background-color: white;
    left: 100%;
    bottom: 0;
    transition: .5s;
}

.ul-header li:hover::after {
    left: 0;
    width: 100%;
}

/* fin de header */

@media only screen and (max-width: 768px) {
    #nav-phone {
        display: block;
        grid-column: 3;
        grid-row: 2;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        z-index: 1000000;
    }
/* 
    label{
        position: relative;
    } */

    .ul-movil {
        padding-top: 6em;
        padding-left: 2em;
        margin-left: 2em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        height: calc(100vh - 60px);
        width: 15em;
        position: absolute;
        font-size: .8em;
        top: 0;
        left: 45%;
        z-index: -1;
        transition: .5s;
        background-color: rgba(255, 255, 255, .2);
    }


    #nav-desktop {
        display: none;
    }

    input[type="checkbox"]:checked~.ul-movil {
        left: 100%;
    }
}